body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(to right, rgb(244, 113, 113), rgb(130, 130, 130));
}

button {
  cursor: pointer;
}
